.footer {
    background-color: $grey-bg;
    color: #FFFFFF;

    &__container {
        border: 0.5px solid #D8D8D8;
        box-shadow: initial;

        @media(min-width: 992px) {
            border: initial;
        }
    }
    &__logo {

        &-item {
            width: 122px;
            height: 40px;
        }
    }
    &__block {
        margin-top: 20px;

        &--border {
            border-top: 0.5px solid #D8D8D8;
            padding-top: 20px;

            @media(min-width: 768px) {
                border-top: initial;
                border-bottom: 0.5px solid #D8D8D8;
            }
        }
    }
    &__divorce {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;

        @media(min-width: 356px) {
            text-align: left;
            justify-content: space-between;
        }
        @media(min-width: 768px) {
            flex-direction: row;
            
        }
        &-col {
            
            @media(min-width: 768px) {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            @media(min-width: 1100px) {
                width: 50%;
            }
        }
        &-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 190px;

            @media(min-width: 768px) {
                width: 100%;
                margin: 15px 0;
                
            }

            &--hidden {
                @media(min-width: 1100px) {
                    display: none;
                }
            }
        }
    }
    &-text {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.5px;
        font-weight: 400;

        &--bold {
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
        }

        &--margin {
            margin-top: 15px;
        }
        &--padding {
            padding-bottom: 30px;
        }
    }

}