.reviews {

    &-title {
        margin: 15px 0 40px 0;
        text-align: center;
    }
    &-link {
        color: $orange-color;
        margin: 15px 0 40px 0;
        text-align: center;
        font-weight: 700;
        display: none;

        @media(min-width: 992px) {
            display: block;
        }
    }
}